$font-stack: Roboto, sans-serif
$primary-color: blue
$secondary-color: red
@mixin theme($theme: DarkGray)
    display: flex
    justify-content: center
    background: $theme
    box-shadow: 0 1px 1px rgba($theme, .75)
    color: #fff
    width: fit-content

body
    font: 100% $font-stack
    color: $primary-color

h1
    padding: 6px 12px

nav
    ul
        margin: 0
        padding: 0
        list-style: none

    li
        display: inline-block

    a
        display: block
        padding: 6px 12px
        color: $secondary-color
        text-decoration: none

p
    @include theme
